html{
    background: #fff;
    color: #fff;
    width: 100vw;

    margin:0 auto;
  }
  body{
    min-width:100vw;
    margin:0;
  }
 /* part1 */
  
.one {
    background-color: rgb(248, 248, 248);
    height: 30vw;
    width: 100vw;
    position: absolute;
}
  
.two {
    position: absolute;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    width: 0;
    height: 0;
    
}
.colorbar{
    width: 100vw;
    height: 50vw;
    position: absolute;
    top: 20.32vw;
    background-color:#FFD655;

}
.top{
  display: flex;
  padding:0;
  margin: 0;
  z-index: 0;
}
.name{
  color:#854B4B;
  position: absolute;
  top:5vw;
  left:61.25vw;
  font-family:Bodoni MT;
  font-size:2.73vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.candy{
  color:#854B4B;
  position: absolute;
  top:14.28vw;
  left:61.25vw;
  font-family:Segoe WP;
  font-size: 1.56vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.chocolate{
  color:#854B4B;
  position: absolute;
  top:14.28vw;
  left:61.25vw; 
  font-family:Segoe WP;
  font-size: 1.56vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.cookie{
  color:#854B4B;
  position: absolute;
  top:14.28vw;
  left:70.45vw; 
  font-family:Segoe WP;
  font-size: 1.56vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.heart_icon_top{
  position: absolute;
  width: 2vw;
  height: 1.875vw;
  top:12vw;
  left:61.5vw;

}
.user_icon_top{
  position: absolute;
  width: 1.7vw;
  height: 2.3vw;
  top:11.66vw;
  left:64.95vw;
}
.img_top1{
  position: absolute;
  width: 53.2vw;
  height: 40.39vw;
  top:2.5vw;
  left: 3.4vw;
}
.img_top2{
  position: absolute;
  width: 20.7vw;
  height: 26vw;
  top:21vw;
  left: 58.8vw;
}
.img_top3{
  position: absolute;
  width: 14.84vw;
  height: 18.98vw;
  top:21vw;
  left: 81.71vw;
}
#gototopseller{
  position: relative;
  color:rgba(133, 75, 75,0.8);
  top:43vw;
  left:30vw; 
  font-family:Segoe WP;
  font-size: 1.56vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  
}


  /* part2 */
.part2background{
    position: absolute;
    width: 100vw;
    height: 181.5vw;
    top:75vw;
    left: -1vw;
}
.wordhot{
    color:#854B4B;
    position: absolute;
    top: -12vw;
    left: 44vw;
    margin:11vw auto 2vw;
    font-family:Sylfaen;
    font-size: 2.7vw;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    z-index: 9;
    text-shadow:  0px 2px 2px rgb(99, 51, 51)
}
.hotmar{
    top:115vw;
    width: 0;
    height: 0;
}
.hot{
    display: flex;
    padding: 0px;
    margin: 0;
    position: relative;
    top:150vw;
    width: 100vw;
    height: 0;
}
.hotimg{
    display: flex;
    position: absolute;
    padding: 0px;
    width: 100vw;
    height: 0;
    margin-left: 3.4vw;
    top:120vw;
    z-index: 9;
}
.hot2{
    width: 22.3vw;
    height: 30.5vw;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-left: 3.4vw;
    margin-right: 0.8vw;
    position:  absolute;
    z-index: 9;
    top: 155vw;
    background-color: black;
}
.mask2{
  width: 22.3vw;
  height: 30.5vw;
  border-radius: 3px;
  margin-left: 3.4vw;
  margin-right: 0.8vw;
  position:absolute;
  z-index: 9;
  top: 155vw;
  background-color: black;
  color:#fff;
  opacity: 0;
}
.masknumber2{
  text-align: center;
  font-size: 12vw;
  font-family: Franklin Gothic Book;

}
.hot1{
    width: 46vw;
    height: 30.5vw;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-right: 0.8vw;
    position:absolute;
    z-index: 9;
    top: 155vw;
    left: 26.84vw;
}
.mask1{
  width: 46vw;
  height: 30.5vw;
  border-radius: 3px;
  margin-right: 0.8vw;
  position:absolute;
  z-index: 9;
  top: 155vw;
  left: 26.84vw;
  background-color: black;
  color:#fff;
  opacity: 0;
}
.masknumber1{
  text-align: center;
  font-size: 12vw;
  font-family: Franklin Gothic Book;

}
.hot3{
    width: 22.3vw;
    height: 30.5vw;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    position:  absolute;
    z-index: 9;
    top: 155vw;
    left:74vw;

}
.mask3{
  width: 22.3vw;
    height: 30.5vw;
  border-radius: 3px;
  margin-right: 0.8vw;
  position:absolute;
  z-index: 9;
  top: 155vw;
  left:74vw;
  background-color: black;
  color:#fff;
  opacity: 0;
}
.masknumber3{
  text-align: center;
  font-size: 12vw;
  font-family: Franklin Gothic Book;

}
/*33333*/

/* 下面的照片圖 */
/* .itembackground{
  background-color:#fffdf9 ;
  width: 100vw;
  height: 80vw;
  position: absolute;
  z-index:0;
  margin-top: -10vw;
} */


.bottom{
  top:75vw;
  position: relative;
  width: 0;
  height: 0;
}
.row1{
  display: flex;
  padding: 0px;
  margin-top: 100vw;
  position: relative;
  z-index: 9;
 
}
.row2{
  display: flex;
  padding: 0px;
  margin-top:2vw;
  position: relative;
  z-index: 9;
}
.row3{
  display: flex;
  padding: 0px;
  margin-top:2vw;
  position: relative;
  z-index: 9;
}
a{
  text-decoration:none;
}
.box1{
  width: 15.8vw;
  height: 20.5vw;
  background-color:#FFEAA8;
  margin-left: 14vw;
  box-shadow: 0px 0px 8px rgba(99, 51, 51, 0.459);
  border-radius: 1.17vw;
}


.box2{
  width: 15.8vw;
  height: 20.5vw;
  background-color:#FFEAA8;
  margin-left: 2.8vw;
  box-shadow: 0px 0px 8px rgba(99, 51, 51, 0.459);
  border-radius: 1.17vw;
}
.box3{
  width: 15.8vw;
  height: 20.5vw;
  background-color:#FFEAA8;
  margin: 0vw 14vw 0 2.8vw;
  box-shadow: 0px 0px 8px rgba(99, 51, 51, 0.459);
  border-radius: 1.17vw;
}
.boximg{
  
  width: 13.75vw;
  height: 13.75vw;
  margin: 1.1vw 1vw 5.625vw 1vw;
  border-radius: 0.5vw;
}
.information{
  
  margin-top: -5.2vw;
  margin-left : 1.3vw;
  color:#854B4B;
  font-family:Segoe WP;
  font-size:1.2vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  font-weight: bold;
}
/* 頁數 */
.number{
  font-family:Franklin Gothic Book;
  font-size:1.3vw;
  color:#854B4B;
  display: flex;
  margin-left: 43.9vw;
  margin-top: 2.7vw;
  margin-bottom: 1.5vw;
  list-style-type: none;
  position: relative;
  z-index: 9;
}
.nuone{
  margin-right: 2vw;
}
.nutwo{
  margin-right: 2vw;
}
.underbackground{
  position: absolute;
  width: 100vw;
  top:40vw;
}
/* footer */
footer{
  width: 100vw;
  height:7vw;
  background-color:#FFD655;
  display: flex;
  padding: 0px;
  margin: 0px;
  position: relative;
  top:335vw;
  z-index: 1;
}
.fb_icon{
  background-color:rgb(249, 251, 255);
  width: 2.3vw;
  height:2.3vw;
  border-radius: 3px;
  margin: 2.34vw 1.8vw 2.34vw 68.2vw; 
}
.ig_icon{
  background-color:rgb(249, 251, 255);
  width: 2.3vw;
  height:2.3vw;
  border-radius: 7px;
  margin: 2.34vw 1.8vw 2.34vw 0;
}
.line_icon{
  background-color:rgb(249, 251, 255);
  width: 2.3vw;
  height:2.3vw;
  border-radius: 3px;
  margin: 2.34vw 1.8vw 2.34vw 0;
}
.footerline{
  width: 2px;
  height: 2.3vw;
  background-color: #854B4B;
  margin: 2.34vw 1.8vw 2.34vw 0;
  opacity: 0.5;
}
.ABOUT{
  color:#854B4B;
  margin:  2.8vw 1.8vw 2.34vw 0;
  font-family:Franklin Gothic Book;
  font-size: 1.4vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.HELP{
  color:#854B4B;
  margin:  2.8vw 1.8vw 2.34vw 0;
  font-family:Franklin Gothic Book;
  font-size: 1.4vw;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}
.rwd_M{
  display: none;
}

@media(max-width:768px){
.rwd_L{
  display: none;
}
.rwd_M{
  display: block;
  padding-bottom: 20vw;
}
.M_background{
  position: absolute;
  z-index:-1;
}
.M_bg1{
  position: absolute;
  width: 100vw;
  height: 82.4vw;
  background-color: #FFD655;
  top:70vw;
  z-index: -1;
}
.M_bg2{
  position: absolute;
  width: 100vw;
  top:110vw;

}
.M_name{
color:#854B4B;
margin: 10.9vw 0 0 12.6vw;
font-family:Bodoni MT;
font-size:6.77vw;
font-style: normal;
font-stretch: normal;
letter-spacing: normal;
}
.M_list{
  display: flex;
  margin: 2vw 0 3vw 12.6vw;
}
.M_chocolate{
color:#854B4B;
font-family:Segoe WP;
font-size: 3.77vw;
margin: 0;
margin-left: 2vw;
font-style: normal;
font-stretch: normal;
letter-spacing: normal;
}
.M_cookie{
color:#854B4B;
font-family:Segoe WP;
font-size: 3.77vw;
margin: 0;
margin-left: 2vw;
font-style: normal;
font-stretch: normal;
letter-spacing: normal;
}
.M_user_icon_top{
width: 4.42vw;
height: 4.55vw;

}
.M_heart_icon_top{
  width: 4.42vw;
  height: 4.55vw;
  margin-left: 2vw;
}
.M_img_top{
display: flex;
align-items: center;
justify-content: center;
flex-direction:column;
}
.M_topsellers{
  color: #854B4B;
  font-size: 5vw;
  font-family: Segoe WP;
  
}
.M_po2{
  margin-top: -3vw;
}

/*熱門商品*/
.M_hot{
  display: flex;
  align-items: flex-end;
  margin-top: 5vw;
}
.M_hot_tital{
  display: flex;
  color: #854B4B;
  font-size: 4vw;
  font-family: Taipei Sans TC Beta;
  margin-left: 5vw;
  margin-top: 20vw;
}
.M_01{
  display: flex;
  align-items: center;
  flex-direction:column;
  margin-left: -9vw;
  z-index: 4;
}

.M_02{
  display: flex;
  align-items: flex-start;
  flex-direction:column;
  margin-left: 2vw;
  z-index: 3;
  opacity: 0.8;
}
.M_03{
  display: flex;
  align-items: flex-end;
  flex-direction:column;
  margin-left: -10vw;
  z-index: 2;
  opacity: 0.8;
}
.M_hot_nu{
  display: flex;
  color: #854B4B;
  font-size: 11.71vw;
  font-family: Taipei Sans TC Beta;
  font-weight: bold;
  margin: 0;
  margin-bottom: -5vw;
  z-index: 5;
}
.M_02_img{
  height: 30vw;
}
.M_03_img{
  height: 30vw;
}
/*下面商品*/
.M_item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4vw;
}
.M_item_tital{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30vw;
  color: #854B4B;
  font-family: Taipei Sans TC Beta;
  font-weight: 300;
  font-size: 3vw;
}
.M_item_row{
  display: flex;
 
  margin-top:5vw ;
}

.M_item_boxright{
  margin-left: 5vw;
}
.M_item_info{
  color: #854B4B;
  font-family: Arial, Helvetica, sans-serif;
  width: 16.14vw;
  height: 6.5vw;
  margin-left: 2.5vw;
  margin-top: -10.5vw;

}
footer{
  display: none;
}
.M_bar{
  position: fixed;
  background-color: #FFD655;
  width: 100vw;
  height: 13.71vw;
  z-index: 7;
  top:120vw;
  display: flex;
  align-items: center;
}
.M_user_icon{
  margin-left: 4vw;
}
.M_bar_word{
  color: #854B4B;
  font-size: 4vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5vw;
}
.M_gototop_img{
  margin-left: 38vw;
  margin-top: -13vw;
  background-image:url(/images/m/01/Group\ 175.png);
  width: 62px;
  height: 62px;
  border-color: transparent;
  background-color:transparent;
}
}
@media(max-width:375px){
  
  .rwd_M{
    display: block;
    padding-bottom: 20vw;
  }
  .M_bg1{
    display: none;
  }
  .M_bg2{
    position: absolute;
    width: 100vw;
    top:20vw;
  }
  .M_name{
    color:#854B4B;
    margin: 8vw 0 0 8vw;
    font-family:Bodoni MT;
    font-size:10vw;
  }
  .M_list{
    display: flex;
    margin: 2vw 0 3vw 8vw;
  }
  .M_chocolate{
    font-family:Segoe WP;
    font-size: 4.5vw;
    margin-left: 4vw;
  }
  .M_cookie{
    font-family:Segoe WP;
    font-size: 4.5vw;
    margin-left: 4vw;
  }
  .M_user_icon_top{
    width: 6.2vw;
    height: 6.2vw; 
  }
  .M_heart_icon_top{
    width: 6vw;
    height: 6.2vw;
    margin-left: 2vw;
  }
  .M_img_top{
    display: none;
  }
  .M_topsellers{
    display: none;
  }
  .M_po2{
    display: none;
  }
  
  /*熱門商品*/
  .M_hot{
    margin-top: 3vw;
  }
  .M_hot_tital{
    font-size: 4vw;
    margin-left: 9vw;
    margin-top: 10vw;
  }
  .M_01{
    margin-left: -10vw;
  }
  .M_02{
    margin-left: 9vw;
  }
  .M_03{
    margin-left: -9vw;
  }
  .M_01_img{
    height: 40vw;
  }
  .M_02_img{
    height: 27vw;
  }
  .M_03_img{
    height: 27vw;
  }
  /*下面商品*/
  .M_item{
    margin-top: 4vw;
  }
  .M_item_tital{
    margin-top: 30vw;
    font-size: 3vw;
  }
  .M_item_row{
    margin-top:1vw ;
  }
  .M_item_img{
    height: 48.8vw;
  }
  .M_item_boxright{
    margin-left: 5vw;
  }
  .M_item_info{
    width: 32.5vw;
    height: 13.6vw;
    margin-left: 2.5vw;
    margin-top: -12vw;
    font-size: 3vw;
  }
  footer{
    display: none;
  }
  .M_bar{
    top:203vw;
  }
  .M_user_icon{
    margin-left: 4vw;
    width: 6.8vw;
  }
  .M_BackTop{
    display: none;
  }
  .M_gototop_img{
   margin-left: 33vw;
  }
  .S_gototop_btn{
    display: flex;
    border-color: transparent;
    background-color:transparent;
    margin-left: 33vw;
    margin-top: -13vw;
   }
   .S_gototop_img{
    width: 10vw;
   }
}