@keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

@keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }
.all{
    position: relative;
    margin-left: 110px;         
}
.webbg{
    
    position: absolute;
    box-sizing: border-box;
    background: #E5E5E5;
    width: 1280px;
    height: 2683px;
    
    margin-right: auto;
    background-color: rgba(255,255,255); 
}
.secondblock{
    position: absolute;
    overflow: visible;
    width: 706.648px;
    height: 469.541px;
    left:492px;
    top: 149px;
    z-index: 1;

    animation: zoomIn 1s linear ;
    animation-duration: 0.7s;
  animation-delay: 0s;
}

.yellow1{
    position: absolute;
    overflow: visible;
    width: 1280px;
    height: 340px;
    left: 0px;
    top: 460px;
    background-color: #FFEAA8;
    z-index: -2;
}
.yellow2{
	position: absolute;
	overflow: visible;
	width: 835px;
	height: 397px;
	left: 0px;
    top: 606px;
    background-color: #FFD655;
    z-index: -1;
}
.yellow3{
    position: absolute;
	overflow: visible;
	width: 350px;
	height: 350px;
    top: 972px;
    left:232px;
    background-color: #FFEAA8;
}
.yellow4{
    position: absolute;
	overflow: visible;
	width: 350px;
	height: 350px;
	left: 689px;
    top: 1467px;
    background-color: #FFD655;
}
.yellow5{
    position: absolute;
	overflow: visible;
	width: 833px;
	height: 296px;
	left: 447px;
	top: 2114px;
    background-color: #FFD655;
}
.yellow6{
    position: absolute;
	overflow: visible;
	width: 350px;
	height: 350px;
	left: 232px;
    top: 1926px;
    background-color: #FFEAA8
}

.tit{
    width: 207px;
    font-family: Bodoni MT;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    font-style:normal;
    line-height: 55px;
    letter-spacing: normal;
    color: #652727;
    margin-top: -7.5px;
	left: 171px;
	top: 209px;
    overflow: visible;
    
    
}
.line1{
    width:276px;
    height: 3px;
    background-color:#65272785;
}
.login{
    display:inline-block;
    position: relative;
    align-self: center;
    text-align: center;
    font-family: Segoe UI;
    font-size: 15px;
    border: solid 1px #652727;
    border-radius: 3px;
    width: 65px;
    height: 28px;
    cursor: pointer;
    color: #652727;
    background-color:white;
    transition-duration: 0.4s;
    z-index:3;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.login:hover{
    background-color:#FFD655;
    color:white;
    border: solid 1px white;
    outline: none;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}
.login:active {
    background-color: white;
    color:#652727;
    border:solid 1px #652727;
    box-shadow: 0 1px;
    transform: translateY(4px);
    outline: none;
  }

.fb{
    
    position: relative;
    right:10px;
    z-index: 3;

    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    text-shadow:rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  
}
.fb:hover, .fb:focus, .fb:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
.ig{
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    text-shadow:rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  
}
.ig:hover, .ig:focus, .ig:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
.li{
    position: relative;
    left:10px;
    z-index: 3;

    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    text-shadow:rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  
}
.li:hover, .li:focus, .li:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border-radius: 3px;

}
.firstblock{
    position: absolute;
    width:206px;
    height:600px;
    display:flex;
    flex-direction:column;
    
    align-items: center;
    left:141.5px;
    top:190px;
}

.G1{
    display:flex;
    left: 141.5px;
}

.mar{
    position: absolute;
    z-index: 1;
    padding:25px;

    animation: fadeInLeft 2s linear ;
    animation-duration: 2s;
    animation-delay: 0s;

}

.choco{
    position: relative;
    z-index: 1;
    padding:25px;

    animation: fadeInRight 2s linear ;
    animation-duration: 2s;
  animation-delay: 0s;
}
.cookie{
    position: relative;
    z-index: 1;
    padding:25px;

    animation: fadeInLeft 2s linear ;
    animation-duration: 2s;
  animation-delay: 0s;
}
.buy1{
    border: solid 1px #652727;
    border-radius: 3px;
    color: #652727;
    font-family: Franklin Gothic Book;
    
    font-size: 14px;
    width: 65px;
    height: 28px;
    background-color:white;
    position: absolute;
    left:819px;
    top:1234px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    outline: none;

}
.buy1:hover{
    background-color:#FFD655;
    color:white;
    border: solid 1px white;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    outline: none;

}
.buy1:active {
    background-color: white;
    color:#652727;
    border:solid 1px #652727;
    box-shadow: 0 0;
    transform: translateY(4px);
  }
.buy2{
    border: solid 1px #652727;
    border-radius: 3px;
    color: #652727;
    font-family: Franklin Gothic Book;
    font-size: 14px;
    background-color:white;
    width: 65px;
    height: 28px;
    text-align: center;
    position: absolute;
    left:362px;
    top:1729px;
    transition-duration: 0.4s;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    outline: none;

}
.buy2:hover{
    background-color:#FFD655;
    color:white;
    border: solid 1px white;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    outline: none;
}
.buy2:active {
    background-color: white;
    color:#652727;
    border:solid 1px #652727;
    box-shadow: 0 0;
    transform: translateY(4px);
  }
.buy3{
    border: solid 1px #652727;
    border-radius: 3px;
    color: #652727;
    font-family: Franklin Gothic Book;
    font-size: 14px;
    width: 65px;
    height: 28px;
    text-align: center;
    position: absolute;
    left:819px;
    top:2188px;
    background-color: white;
    transition-duration: 0.4s;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    outline: none;
}
.buy3:hover{
    background-color:#FFD655;
    color:white;
    border: solid 1px white;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    outline: none;
}
.buy3:active {
    background-color: white;
    color:#652727;
    border:solid 1px #652727;
    box-shadow: 0 0;
    transform: translateY(4px);
  }
.can{
    position: absolute;
    top:1026px;
    left:809.5px;
    color: #652727;
 

    animation: fadeInRight 2s linear ;
    animation-duration: 2s;
    animation-delay: 0s;
}
.cho{
    position: absolute;
    top:1521px;
    left:319px;
    color: #652727;
    animation: fadeInLeftt 2s linear ;
    animation-duration: 2s;
    animation-delay: 0s;
}
.coo{
    position: absolute;
    top:1986px;
    left:800px;
    color: #652727;

    animation: fadeInRight 2s linear ;
    animation-duration: 2s;
    animation-delay: 0s;
}

.candybox{
    position: absolute;
    color: #652727;
    
    top:1076px;
    left:812px;
    text-align: center;
}
#c1{
    cursor: pointer;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  text-shadow:rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;

  
}
#c1:hover, #c1:focus, #c1:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

}
#c1p{
    position: absolute;
	overflow: visible;
	padding: 25px;
    z-index: 4;
    opacity: 0;
    transition: 1s ease;
}
#c2{
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    text-shadow:rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
#c2:hover, #c2:focus, #c2:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
#c2p{
    position: absolute;
    overflow: visible;
    padding: 25px;
    z-index: 5;
    opacity: 0;

    transition: 1s ease;
}
#c3{
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    text-shadow:rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
#c3:hover, #c3:focus, #c3:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
#c3p{
    position: absolute;
	overflow: visible;
	padding: 25px;
    z-index: 6;
    opacity: 0;

    transition: 1s ease;
}

.chocolatebox{
    position: absolute;
    color: #652727;
    
    top:1574px;
    left:370px;
    text-align: center;
}
.cookiebox{
    position: absolute;
    color: #652727;
   
    top:2035px;
    left:824px;
    text-align: center;
}
footer{
    position: absolute;
    top:2610px;
    width: 105vw;
    height:7vw;
    background-color:#FFD655;
    display: flex;
    padding: 0px;
    margin-left:0;
    margin-bottom: 0;
}
.fb_icon{
    background-color:#fffbf8;
    width: 2.3vw;
    height:2.3vw;
    border-radius: 3px;
    margin: 2.34vw 1.8vw 2.34vw 68.2vw; 
}
.ig_icon{
    background-color:#fffbf8;
    width: 2.3vw;
    height:2.3vw;
    border-radius: 7px;
    margin: 2.34vw 1.8vw 2.34vw 0;
}
.line_icon{
    background-color:#fffbf8;
    width: 2.3vw;
    height:2.3vw;
    border-radius: 3px;
    margin: 2.34vw 1.8vw 2.34vw 0;
}
.line{
    width: 2px;
    height: 2.3vw;
    background-color: #854B4B;
    margin: 2.34vw 1.8vw 2.34vw 0;
    opacity: 0.5;
}
.ABOUT{
    color:#854B4B;
    margin:  2.8vw 1.8vw 2.34vw 0;
    font-family:Franklin Gothic Book;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
.HEIP{
    color:#854B4B;
    margin:  2.8vw 1.8vw 2.34vw 0;
    font-family:Franklin Gothic Book;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}
